extends layout

block body
  main
    picture.logo
      source(srcset='/logo.svg')
      img(src='/logo.png' alt='torrent.partidopirata.org')
    p.subtitle Transfer&ecirc;ncia de arquivos via <a href="http://webtorrent.io" target="_blank">WebTorrent</a> - powered by Instant.io

    h1 Instru&ccedil;&otilde;es

    ul
      li Leia as instru&ccedil;&otilde;es abaixo para enviar e receber arquivos via torrent.
      li Nenhum arquivo <strong>nunca</strong> passa por nossos servidores. Os arquivos s&atilde;o transferidos via WebRTC do seu computador diretamente para o computador de qualquer pessoa que tenha o link, exatamente como a rede de torrents tradicional.
      li &Eacute; poss&iacute;vel enviar para mais de uma pessoa compartilhando o link. Arquivos iguais geram hashes iguais, e portanto, qualquer pessoa compartilhando os mesmos arquivos ter&atilde;o links id&ecirc;nticos.
      li Para parar de semear, feche a aba do navegador.
      li Arquivos de m&iacute;dia suportados pelo navegador como PDF, &aacute;udio e v&iacute;deo s&atilde;o reproduzidos automaticamente.

    h1#logHeading(style='display: none') Log
    .speed
    .log

    section
      h1 Enviar
      p
        | Arraste e solte arquivos para enviar aqui ou procure no computador para criar um torrent novo:
        | #{ ' ' }
        input(type='file', name='upload', multiple)

    section
      h1 Receber
      form
        label(for='torrentId') Baixe arquivos a partir de um magnet link ou info hash
        input(name='torrentId', placeholder='magnet:' required)
        button(type='submit') Baixar&excl;

    footer
      p: small Powered by <a href="http://webtorrent.io" target="_blank">WebTorrent</a> via <a href="http://instant.io" target="_blank">Instant.io</a>. 100% software livre. Funciona no Chrome, Firefox, e Opera. C&oacute;digo fonte dispon&iacute;vel no <a href="https://github.com/piratas/instant.io" target="_blank">GitHub</a>. © 2017 WebTorrent, LLC.
